html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.a{
    text-indent: 50px;
   }

body{
    background-color: rgb(250, 234, 228);
    background-repeat: no-repeat;
    padding: 20px;
}

header{
    background-color: rgb(193, 218, 211);
    padding: 10px;
}

nav {
    background-color: #88c0bc;
    text-align: center;
    float: left;
    width: 20%;
    height: 100vh;
    padding-top: 25px;
    position: sticky;
    top: 0px;
}

.container {
    margin: 0 auto;
    border: 1px solid rgb(213, 82, 82);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
}

.align{
    text-align: right;
}

footer{
    background-color: rgb(193, 218, 211);
    padding: 10px;
}

@media screen and (max-width: 768px){

    nav {
        width: 100%;
        flex-direction:column;
        text-align: center;
        background-color: #9fc2c9;
        height: 10vh;
    
    }

}